<form action="{{ url_for('q10r.questionnaire', slug=slug) }}" method="POST">
  {% for q in questionnaire.questions %}
    {% set qloop = loop %}
    {% set qid = "q{0}".format(loop.index0) %}
    <!-- each question -->
    <div class="card mt-3 mx-auto" style="min-width: 500px; max-width: 1000px;">

      <!-- label text -->
      <div class="card-header" style="text-align: center;">
        <label for="{{ qid }}">
          <span class="question-title">{{ q.label }}</span>
          <!-- give a warning if required but empty -->
          {% if q.required %}
            <sup>*</sup>
          {% endif %}
          {% if q.error %}
            <span class="text-danger">
              {{ questionnaire.messages.error.required }}
            </span>
          {% endif %}
        </label>
      </div>

      <div class="card-body">

        <!-- help text -->
        <p class="card-text">
          {% if q.help %}
            {{ q.help }}
          {% endif %}
        </p>
        
        <!-- extra media -->
        <div class="container">
          <div class="row">
            {% for m in q.media %}
              {% if m.type == "image" %}
                <div class="col" style="text-align: center;">
                  <img src="{{m.source}}" style="width: 300px; height: 300px; margin: 5px">
                </div>
              {% elif m.type == "video" %}
                <div class="col" style="text-align: center;">
                  <video style="width: 300px; height: 300px; margin: 5px" controls autoplay loop>
                    <source src="{{m.source}}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
              {% elif m.type == "point" %}
                <div class="col" style="text-align: center;">
                  <iframe src="static/3dviewer.html?file=../{{m.source}}&point=true" scrolling="no" style="width: 300px; aspect-ratio: 1/1; margin: 5px"> </iframe>
                </div>
              {% elif m.type == "mesh" %}
                <div class="col" style="text-align: center;">
                  <iframe src="static/3dviewer.html?file=../{{m.source}}&wire=true" scrolling="no" style="width: 300px; aspect-ratio: 1/1; margin: 5px"> </iframe>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>


        <!-- user input -->
        <div>
          {% if q.type == "text" %}
            <textarea class="form-control" id="{{ qid }}" name={{ qid }}>{{ q.value }}</textarea>
          {% elif q.type == "string" %}
            <input class="form-control" id="{{ qid }}" type="text" name="q{{ qloop.index0 }}" value="{{ q.value }}">
          {% elif q.type in ("radio", "checkbox") %}
            <ul class="options">
              {% for opt in q.options %}
                <li>
                  {% set checked = "checked" if opt == q.value or opt in q.get('values', []) else "" %}
                  <label>
                    <input name="{{ qid }}" type="{{ q.type }}" value="{{ opt }}" {{ checked }}>
                    <span>{{ opt }}</span>
                  </label>
                  {% if opt == q.other_option %}
                    <input type="text" name="{{ qid }}.{{ opt }}.other" value={{ q.other_value }}>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% elif q.type == "matrix" %}
            <table class="table">
              <thread>
                <tr>
                  <th> # </th>
                  <!-- manual ticks for range -->
                  <th> 
                    <div style="display: flex; justify-content: space-between;">
                      {% for i in range(q.min, q.max + 1, q.step) %}
                        <span> {{i}} </span>
                      {% endfor %}
                    </div>
                  </th>
                </tr>
              </thread>
              <tbody>
                {% for opt in q.options %}
                  <tr>
                    <th scope="row"> {{opt}} </td>
                    <td> <input type="range" class="form-range" name={{qid}} min={{q.min}} max={{q.max}} step={{q.step}} value={{q.min}}> </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>

    </div>
  {% endfor %}
  <!-- submit button -->
  <div class="mt-3 mb-3" style="text-align: center;">
    <button class="btn btn-primary btn-lg" name="submit">
      {{ questionnaire.submit }}
    </button>
  </div>
</form>
