{% extends "base.html" %}

{% block title %}Questionnaire List{% endblock title %}

{% block content %}
  <h1>List of Questionnaires</h1>
  <ul class="list-group">
  {% for slug, data in questionnaires %}
    <li class="list-group-item">
      {{ data.title }}
      <ul class="form">
        <li> <a href="{{ url_for('q10r.questionnaire', slug=slug) }}">Form</a> </li>
        <li> <a href="{{ url_for('q10r.results', slug=slug) }}">Results</a> </li>
      </ul>
    </li>
  {% else %}
    <li>There is no questionnaire yet.</li>
  {% endfor %}
  </ul>
{% endblock content %}
