{% extends "base.html" %}

{% block title %}
  {{ questionnaire.title }}
{% endblock title %}

{% block content %}
  <h1 class="my-4" style="text-align: center;">{{ questionnaire.title }}</h1>
  {% if questionnaire.comment %}
    <div class="alert alert-light mx-auto" role="alert" style="min-width: 500px; max-width: 1000px;">
      <!-- silly multiple-line comments from json -->
      {% for line in questionnaire.comment %}
        <p> {{ line }} </p>
      {% endfor %}
    </div>
  {% endif %}
  {% include "form.html" %}
{% endblock content %}
